<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="apis-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="LanzarAPIs"
               url="http://localhost:3000/v3"
               method="GET"
               handle-as="text"
               on-response="mostrarResultadoAPIs">
    </iron-ajax>

    <div>
      <button class="btn btn-info" on-click="APIs">Mostrar Apis</button>
    </div>
    <table class="table table-striped">
      <thead>
        <th>recurso</th>
        <th>Url</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{showURL}}" as="prd">
          <tr>
            <td>prd['recurso'].</td>
            <td>prd['url'].</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ApisApp extends Polymer.Element {
      static get is() { return 'apis-app'; }
      static get properties() {
        return {
          showAPI: {
            type: String
          },
          recurso: {
            type: String
          },
          url: {
            type: String
          },
          showURL: {
            type: Array
          }
        };
      }
      APIs() {
        this.$.LanzarAPIs.generateRequest();
      }
      mostrarResultadoAPIs(data) {
        console.log(data.detail.response)
        this.showAPI=data.detail.response
      }

    }
    window.customElements.define(ApisApp.is, ApisApp);
  </script>
</dom-module>
