<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<dom-module id="logout-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="LanzarLogout"
               url="http://localhost:3000/v3/logout"
               method="POST"
               handle-as="text"
               content-type="application/json"
               on-response="mostrarResultadoLogout">
    </iron-ajax>

    <iron-ajax id="Session"
               url="http://localhost:3000/v3/altasesion"
               method="POST"
               handle-as="text"
               content-type="application/json"
               on-response="mostrarResultadoSession">
    </iron-ajax>
             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->

    <div>
      <button class="btn btn-info" on-click="Logout">Logout</button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    var respuesta;
    var dataJson;
    var valid;
    var aux;
    var mail;
    class LogoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          valid: {
            type:String
          },
          email: {
            type: String
          }
        };
      }
      Logout() {
           mail = sessionStorage.getItem("email");
          console.log(mail)
                var obj = {
                  email: mail
                };
                console.log(obj);
                this.$.LanzarLogout.body = obj;
                this.$.LanzarLogout.generateRequest();
      }
      mostrarResultadoLogout(data) {
        console.log(data.detail.response);
        respuesta = data.detail.response;
        dataJson = jQuery.parseJSON(respuesta);
        //console.log(dataJson);
        //valid = dataJson.idusuario;
        if (dataJson.email == mail)
        {
          this.SessionOff()
        }
        else {
          alert("No cuentas con una sesión activa");
          console.log("No cuentas con una sesión activa")
        }
      }

      SessionOff()
    {
if (dataJson.Sesion=='true')
       {
      dataJson.Sesion = 'false';
        this.$.Session.body = dataJson;
        sessionStorage.clear();
        console.log(dataJson);
        this.$.Session.generateRequest();
       }
else {
         {
           alert("No cuentas con una sesión activa");
    console.log("No cuentas con una sesión activa")
         }
     }

    }
      mostrarResultadoSession(data) {
        console.log(data.detail.response)
        alert("Tu sesión ha finalizado");
      }

    }
    window.customElements.define(LogoutApp.is, LogoutApp);
  </script>
</dom-module>
