<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-movimiento-app">
  <template>
    <style>
      :host {
        display: block;
      }
      </style>
      <iron-ajax id="obtenerDetalle"
                  url="http://localhost:3000/v4/cuentas/{{idMov}}"
                 handle-as="json"
                 on-response="mostrarDetalle">
      </iron-ajax>

      <iron-ajax id="ObtenerCuentas"

                          url="http://localhost:3000/v4/cuentas/USR000066"
                          method="GET"
                          content-type="application/json"
                          handle-as="text"
                          on-response="MostrarCuentas">
        </iron-ajax>

        <div>
          <label for="">[[etuser]]</label>
          <input required="required" type="text" placeholder="USR000000" value={{valuser::input}}>
        </div>
        <div>
          <button class="btn btn-info" on-click="invocarConsulta">Consulta</button>
        </div>


  <!--  <h1>Detalle del movimiento {{idMov}}</h1> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          detalle: {
            type: Object
          }
        };
      }
      invocarConsulta() {
        this.$.ObtenerCuentas.generateRequest();
      }

      MostrarCuentas(data) {
        console.log(data.detail.response)
      }
    }

    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
  </script>
</dom-module>
