<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v4/cuentas/{{valuser}}"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="Usuario" value={{valuser::input}}>
    </div>

    <div>
      <button class="btn btn-info" on-click="invocarPeticion">Consultar</button>
    </div>

    <template is="dom-repeat" items="{{movimientos}}" as="cts">
  				<div class="card" style="width: 16rem; center-block">
  					<div class="card-body" center-block>
  						<h6 class="card-title">idCuenta: {{cts.idCuenta}}</h6>
              <h6 class="card-title">Saldo: ${{cts.saldo}}</h6>
          <template is="dom-repeat" items="{{cts.movimientos}}" as="mvs">
                <div class="card" style="width: 18rem; center-block">
                  <div class="card-body" center-block>
                    <h9 class="card-title">idmov: {{mvs.idmov}}</h9>
                    <br />
                    <h9 class="card-title">Fecha: {{mvs.fecha}}</h9>
                      <br />
                    <h9 class="card-title">Importe: ${{mvs.importe}}</h9>
                    <br />
                  <h9 class="card-title">Descripción: {{mvs.descripcion}}</h9>
                  </div>
                </div>
          </template>
        </div>
      </div>
  	</template>
    </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
     var aux;
     var respuesta;
     var respuestamov;
     var dataJson;
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          valemail: {
            type:String
          },
          etmail: {
            type:String
          },
          movimientos: {
            type: Array
          },
          movs: {
            type: Array
          },
          detallemovimientos: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          }
        };
      }

      invocarPeticion() {
        var Usuario = sessionStorage.getItem("Usuario");

        var Sesion = sessionStorage.getItem("Sesion");
        if(Sesion == "true"){
        this.$.obtenerMovimientos.generateRequest();
      }
      else{
        alert("Por favor inicia sesión");
        console.log("es necesario iniciar sesion")
      }
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        //respuestamov = data.detail.response;
        this.movimientos = data.detail.response
        //  this.Logout()
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
