<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="LanzarLoginHeaders"
               url="http://localhost:3000/v3/usuarios"
               method="POST"
               handle-as="text"
               on-response="mostrarResultadoLogin">
    </iron-ajax>

      <iron-ajax id="ObtenerCuentas"

                          url="http://localhost:3000/v4/cuentas/USR000066"
                          method="GET"
                          content-type="application/json"
                          handle-as="text"
                          on-response="MostrarCuentas">
        </iron-ajax>

      <div>
        <label for="">[[etuser]]</label>
        <input required="required" type="text" placeholder="usuario@domain.com" value={{valuser::input}}>
      </div>
      <div>
        <label for="">[[etpassword]]</label>
        <input required="required" type="password" value={{valpassword::input}}>
      </div>
       <div>
  <button on-click="gestionarClick">Login</button>
       </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          valpassword: {
            type:String
          },
          productos: {
            type: Array
          },
          email: {
            type: String
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }

      LoginHeaders() {
        console.log("Login correcto de " + this.valuser)
        this.$.LanzarLoginHeaders.headers.email = this.valuser;
        this.$.LanzarLoginHeaders.headers.password = this.valpassword;
        this.$.LanzarLoginHeaders.generateRequest();
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
        var respuesta = data.detail.response
  if (respuesta == '{"status":{"code": 200, "description": "Exito"}},{"usuario":"USR000983"}')
  {
  console.log("Login exitoso de " + this.valuser)
  this.invocarConsulta()
  }
  else {
  console.log("Acceso denegado")
  }
      }

      invocarConsulta() {
        this.$.ObtenerCuentas.generateRequest();
      }

      MostrarCuentas(data) {
        return data;

      }

gestionarClick(e){
  console.log("ONCLICK: He pulsado el botón")
  this.$.LanzarLoginHeaders.headers.email = this.valuser;
  this.$.LanzarLoginHeaders.headers.password = this.valpassword;
  this.$.LanzarLoginHeaders.generateRequest();
  console.log(data.detail.response)
  this.dispatchEvent(new CustomEvent('emitido',{detail:{origen:"TechU", anio:2018}}))
}

    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
