<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-movimiento2-app">
  <template>
    <style>
      :host {
        display: block;
      }
      </style>
      <iron-ajax auto="" id="obtenerDetalle"
                 url="http://localhost:83/v2/movimientos/{{idMov}}"
                 handle-as="json"
                 on-response="mostrarDetalle">
      </iron-ajax>
    <h1>Detalle del movimiento {{idMov}}</h1>
    <h2>Ciudad: {{detalle.ciudad}}</h2>
    <h3>Importe: {{detalle.importe}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontmx-app'
          },
          detalle: {
            type: Object
          }
        };
      }
      mostrarDetalle(data) {
        this.detalle = data.detail.response
      }
    }

    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
  </script>
</dom-module>
