<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<dom-module id="altamovimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v3/altamovimientos"
               handle-as="text"
               method="POST"
              content-type="application/json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <div>
      <p>
      <label for="">Id-Cuenta:</label>
      <input required="required" type="text" placeholder="idCuenta" value={{validCuenta::input}}>
      </p>
    </div>
    <div>
      <p>
      <label for="">Usuario:</label>
      <input required="required" type="text" placeholder="usuario" value={{valusuario::input}}>
      </p>
      <p>
          <label for="">Saldo:</label>
      <input required="required" type="text" placeholder="numérico" value={{valsaldo::input}}>
      </p>
      <!--
          <label for="">[[etmovimientos]]</label>
      <input required="required" type="text" placeholder="movimientos" value={{valmovimientos::input}}>
      -->
      <p>
          <label for="">Id-Movimiento:</label>
      <input required="required" type="text" placeholder="numérico" value={{validmov::input}}>
      </p>
      <p>
      <label for="">Fecha:</label>
  <input required="required" type="text" placeholder="AAAA-MM-DD" value={{valfecha::input}}>
  </p>
  <p>
  <label for="">Descripción:</label>
<input required="required" type="text" placeholder="texto" value={{valdescripcion::input}}>
</p>
<p>
<label for="">Importe:</label>
<input required="required" type="text" placeholder="numérico" value={{valimporte::input}}>
</p>
    </div>

    <div>
      <button class="btn btn-info" on-click="invocarPeticion">Alta</button>
    </div>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltamovimientosApp extends Polymer.Element {
      static get is() { return 'altamovimientos-app'; }
      static get properties() {
        return {
          etidCuenta: {
            type: Object
          },
          etusuario: {
            type: String
          },
          etsaldo: {
            type: String
          },
          etmovimientos: {
            type: String
          },
          etidmov: {
            type: String
          },
          etfecha: {
            type: String
          },
          etdescripcion: {
            type: String
          },
          etimporte: {
            type: String
          },
          validCuenta: {
            type:Object
          },
          valusuario: {
            type:String
          },
          valsaldo: {
            type: String
          },
          valmovimientos: {
            type: Object
          },
          valfecha: {
            type:String
          },
          valdescripcion: {
            type:String
          },
          valimporte: {
            type:String
          },
          validmov: {
            type: String
          }
        };
      }

      invocarPeticion() {
        var Usuario = sessionStorage.getItem("Usuario");
        var Sesion = sessionStorage.getItem("Sesion");
        if(Sesion == "true" && this.valusuario != undefined){
var obj = {
  idCuenta: this.validCuenta,
  usuario: this.valusuario,
  saldo: this.valsaldo,
  movimientos: [
      {
          idmov: this.validmov,
          fecha: this.valfecha,
          descripcion: this.valdescripcion,
          importe: this.valimporte
      }
      ]
};
console.log(obj);
this.$.obtenerMovimientos.body = obj;
        this.$.obtenerMovimientos.generateRequest();
      }
      else if (this.valusuario == undefined && Sesion == "true")
{
  alert("Por favor introduce los datos requeridos");
  console.log("Por favor introduce los datos requeridos")
} else
      {
        alert("Por favor inicia sesión");
        console.log("es necesario iniciar sesión")
      }
      }

      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        alert("Alta de movimiento exotoso");
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(AltamovimientosApp.is, AltamovimientosApp);
  </script>
</dom-module>
