<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="LanzarLoginHeaders"
               url="http://localhost:3000/v3/login"
               method="POST"
               handle-as="text"
               content-type="application/json"
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <iron-ajax id="Session"
               url="http://localhost:3000/v3/altasesion"
               method="POST"
               handle-as="text"
               content-type="application/json"
               on-response="mostrarResultadoSession">
    </iron-ajax>


             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->
    <div>
      <label for="">Ingrese su correo:</label>
      <input required="required" type="string" placeholder="example@mail.com" value={{valuser::input}} autofocus="autofocus">
    </div>
    <div>
      <label for="">Ingrese su password:</label>
      <input required="required" placeholder="password"type="password" value={{valpassword::input}}>
    </div>
    <div>
      <button class="btn btn-info" on-click="LoginHeaders">Login</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    var respuesta;
    var dataJson;
    var valid;
    var aux;
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          valpassword: {
            type:String
          },
          valid: {
            type:String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          },
          email: {
            type: String
          }
        };
      }
      LoginHeaders() {
                var obj = {
                  email: this.valuser,
                  password: this.valpassword
                };
                console.log(obj);
                if(this.valuser != undefined)
                {
                  console.log(this.valuser);
                  this.$.LanzarLoginHeaders.body = obj;
                  this.$.LanzarLoginHeaders.generateRequest();
                }
                else {
                  console.log("nok");
                  alert("Es necesario ingresar un usuario y contraseña");
                }

      }
      mostrarResultadoLogin(data) {
      //  console.log(data.detail.response);
        respuesta = data.detail.response;
        dataJson = jQuery.parseJSON(respuesta);
        console.log(dataJson);

        valid = dataJson.idusuario;

        if (dataJson.email == this.valuser && dataJson.password==this.valpassword)
        {
          console.log("Login exitoso de " + dataJson.idusuario)
          this.SessionOn()
        }
        else {
          alert("usuario o contraseña no válidos");
          console.log("Acceso denegado")
        }
      }

      SessionOn()
    {
      dataJson.Sesion = 'true';
        this.$.Session.body = dataJson;
        /*Guardando los datos en el LocalStorage*/
        sessionStorage.setItem("Usuario", dataJson.idusuario);
        sessionStorage.setItem("email", dataJson.email);
        sessionStorage.setItem("Nombre", dataJson.nombre);
        sessionStorage.setItem("Apellido", dataJson.apellido);
        sessionStorage.setItem("Sesion", dataJson.Sesion);
        console.log(dataJson);
        this.$.Session.generateRequest();
        alert("Login exitoso");
      }

      mostrarResultadoSession(data) {
        console.log(data.detail.response)
      }

    }
    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
