<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Soy el receptor </h2>
    <h3>Origen: {{origenRecibido}}</h3>
      <h3>Anio: {{anioRecibido}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          origenRecibido: {
            type: String
          },
          anioRecibido:{
            type: Number
          }

        };
      }

      procesarDatos(data) {
        console.log("Soy tu hijo: " + JSON.stringify(data))
        this.origenRecibido = data.origen
        this.anioRecibido = data.anio
      }
    }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
