<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login2-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>


    <iron-ajax id="LanzarLoginHeaders"
               url="http://localhost:3000/v3/login"
               method="POST"
               handle-as="text"
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <iron-ajax id="lanzarLogin2"

                        url="http://localhost:3000/v4/usuarios"
                        method="POST"
                        content-type="application/json"
                        body ={"email": "abellfieldo@abc.net.au", "password": "GuyYvNNn63"}
                        handle-as="text"
                        on-response="mostrarResultadoLogin2">
      </iron-ajax>

      <iron-ajax id="ObtenerCuentas"

                          url="http://localhost:3000/v4/cuentas/USR000066"
                          method="GET"
                          content-type="application/json"
                          handle-as="text"
                          on-response="MostrarCuentas">
        </iron-ajax>


             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->
    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="elenanito@bbva.com" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" value={{valpassword::input}}>
    </div>
    <div>
      <button class="btn btn-info" on-click="LoginHeaders">LoginHeaders</button>
    <!--  <button class="btn btn-info" on-click="hacerLogin2">Acceso</button>
      <button class="btn btn-warning" on-click="invocarConsulta">Cuentas</button>
      <button class="btn btn-warning" on-click="invocarPeticion">Invocar</button>
      -->

    </div>
    <table class="table table-striped" hidden$="{{noTengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd">
          <tr>
            <td>{{prd.ProductID}}</td>
            <td>{{prd.ProductName}}</td>
            <td>{{prd.UnitPrice}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Login2App extends Polymer.Element {
      static get is() { return 'login2-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          valpassword: {
            type:String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          },
          email: {
            type: String
          }
        };
      }
      LoginHeaders() {
        this.$.LanzarLoginHeaders.headers.email = this.valuser;
        this.$.LanzarLoginHeaders.headers.password = this.valpassword;
        this.$.LanzarLoginHeaders.generateRequest();
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
        var respuesta = data.detail.response
  if (respuesta == '{"status":{"code": 200, "description": "Exito"}},{"usuario":"USR000983"}')
  {
  console.log("Login exitoso de " + this.valuser)
  this.invocarConsulta()
  }
  else {
  console.log("Acceso denegado")
  }
      }

      hacerLogin2() {
        this.$.LanzarLoginHeaders.body.email = "abellfieldo@abc.net.au";
        this.$.LanzarLoginHeaders.body.password = "GuyYvNNn63";
        this.$.lanzarLogin2.generateRequest();
      }
      mostrarResultadoLogin2(data) {
        console.log(data.detail.response)
        var respuesta = data.detail.response
if (respuesta == '{"status":{"code": 200, "description": "Exito"}}')
{
  console.log("Login de " + this.valuser)

}
else {
  console.log("Acceso denegado")
}
      }
      invocarConsulta() {
        this.$.ObtenerCuentas.generateRequest();
      }

      MostrarCuentas(data) {
        console.log(data.detail.response)
      }

      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }

      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }
    }
    window.customElements.define(Login2App.is, Login2App);
  </script>
</dom-module>
