<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<dom-module id="altausuario-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v3/altausuarios"
               handle-as="text"
               method="POST"
               content-type="application/json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <div>
      <p>
      <label for="">Usuario: </label>
      <input required="required" type="string" placeholder="Usuario" value={{valuser::input}}>
      </p>
      <p>
      <label for="">Nombre:</label>
      <input required="required" type="string" placeholder="Nombre" value={{valnombre::input}}>
      </p>
      <p>
          <label for="">Apellido:</label>
      <input required="required" type="string" placeholder="Apellido" value={{valapellido::input}}>
      </p>
      <p>
          <label for="">email:</label>
      <input required="required" type="string" placeholder="example@usuario.com" value={{valemail::input}}>
      </p>
      <p>
          <label for="">password:</label>
      <input required="required" type="password" placeholder="password" value={{valpassword::input}}>
      </p>
    </div>

    <div>
      <button class="btn btn-info" on-click="invocarPeticion">Alta</button>
    </div>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltausuarioApp extends Polymer.Element {
      static get is() { return 'altausuario-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etnombre: {
            type: String
          },
          etapellido: {
            type: String
          },
          etemail: {
            type: String
          },
          valuser: {
            type:String
          },
          valpassword: {
            type:String
          },
          valnombre: {
            type: String
          },
          valapellido: {
            type: String
          },
          valemail: {
            type: String,
          },
          valpais: {
            type: Boolean,
          }
        };
      }

      invocarPeticion() {

        var Usuario = sessionStorage.getItem("Usuario");

        var Sesion = sessionStorage.getItem("Sesion");
        if(Sesion == "true" && this.valuser != undefined){
        var obj = {
          idusuario: this.valuser,
          nombre: this.valnombre,
          apellido: this.valapellido,
          email: this.valemail,
          password: this.valpassword,
          Sesion: "false"
        };
        console.log(obj);
        this.$.obtenerMovimientos.body = obj;
        this.$.obtenerMovimientos.generateRequest();
      }
      else if (this.valuser == undefined && Sesion == "true")
{
  alert("Por favor introduce los datos requeridos");
  console.log("Por favor introduce los datos requeridos")
}
      else{
        alert("Por favor inicia sesión");
        console.log("es necesario iniciar sesion")
      }
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        alert("Alta de usuario exitosa");
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(AltausuarioApp.is, AltausuarioApp);
  </script>
</dom-module>
